@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    margin: 0px;
    padding:0px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color:hsl(212, 45%, 89%);
}

.container{
    max-width: 330px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.card{
    text-align: center;
    padding: 20px;;
}

.card img{
    width: 100%;   
    border-radius: 9px;
}

.text{
    text-align: center;
    padding: 5px;
}

.text h2{
    color:hsl(218, 44%, 22%);
}

.text p{
    color: hsl(220, 15%, 55%);
    padding: 0px 15px ;
    font-size: 15px;
}